<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wrmoney.administrator.plusadd"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".wecomeview.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CommnActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.EssayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.InvitationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.RedPacketActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.InvestMentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.ActivityCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.ActivityFDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.MoneyWaterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.VoucherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moreview.activitys.AlterPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.FindPassActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.FindwordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.LoginActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.PhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.PhoneActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".financingview.activitys.InvestDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".financingview.activitys.InvestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".financingview.activitys.InvestJoinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.InvestDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.InvitationDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.InvitationFriendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moreview.activitys.HelpCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.MessageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moreview.activitys.HelpDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".homeview.activitys.ActivityDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.MessageDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".accountview.activitys.AgreeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".loginview.activitys.LoginSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moreview.activitys.ConnectOurActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".moreview.activitys.BindCodeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".moreview.activitys.AlterBindActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".homeview.activitys.HomefirstActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".homeview.activitys.HomeSecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".homeview.activitys.HomeThirdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".financingview.activitys.InvestWebJoinActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>
